@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@700&display=swap');

.CartPage {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CartPageHeading {
    width: 85%;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.CartWindow {
    margin-top: 50px;
    width: 90%;
    display: flex;
}

.CartList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    /* height: 50px; */
    /* border: 1px solid black; */
}

.CartItem {
    position: relative;
    margin: 10px 0px;
    width: 90%;
    /* height: 200px; */
    /* border: 1px solid rgb(105, 105, 105); */
    /* border-radius: 20px; */
    display: flex;
    /* padding: 10px 0px; */
    background-color: rgb(237, 237, 237);
}

.CartItemLeft {

    display: flex;
    align-items: center;
    height: auto;
    margin-right: 10px;
}

.CartImg {
    width: 200px;
    margin: 0px 0px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    /* height: auto; */

}

.CartItemRight {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.CartItemRight h1 {
    cursor: pointer;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}

.CartDisc {
    margin: 2px;
    font-size: .8rem;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.CartPrice {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.CartPrice span {
    color: green;
}

.CartAdd {
    margin-top: 7px;
    display: flex;
}

.Cartl {
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flexbox;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.Cartl:focus,
.Cartm:focus,
.Cartr:focus {
    outline: none;
}

.Cartr {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flexbox;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.Cartm {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border-t: none;
    border-right: none; */
    display: flexbox;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.CartDel {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.CartDel svg {
    color: red;
}

.CartDetails {
    padding-top: 5px;
    width: 30%;
    height: auto;
    /* border: 1px solid black; */

}

.CartDetail {
    padding: 5px;
    /* border-radius: 10px; */
    background-color: rgb(237, 237, 237);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CartDetail h1 {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 7px 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}

.DetailItem {
    margin: 3px 0px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif; */

}

.ItemB {
    font-weight: 600;
}

.ItemY {
    font-weight: 600;
    color: rgb(255, 183, 0);
}

.CartBtn {
    display: flexbox;
    height: 35px;
    margin: 15px 0px;
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    outline: none;
    color: white;
    background-color: black;
    cursor: pointer;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif; */
}




.CartPageHeading {

    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}

.CartBtn a {
    color: white;
    text-decoration: none;

}


/* Payment */
.PaymentPage {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 70px);
}

.PaymentWindow {
    /* background-color: aliceblue; */
    padding: 5px;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.PaymetLeftImg {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.PaymentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(60% - 10px);
    height: 100%;
}

.PaymentHeading {
    width: 100%;
    cursor: pointer;
    margin: 0px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    color: #6c6c6c;
    display: flex;
    /* height: 50px; */
    align-items: center;
    margin-bottom: 10px;
    font-size: .8rem;
}

.PaymentHeading svg {
    margin: 0px 5px;
    width: 15px;
    height: 15px;
    /* border: 1px solid black; */
}

.PaymentHeading span {
    color: black;
}

.BtnPymentApple {
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    display: flexbox;
    height: 35px;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.BtnPymentApple:focus{
    outline: none;
}
.BtnPymentApple svg {
    color: white;
}

.BtnPymentApple span {

    margin: 0px 5px;
}

.BtnPymentPayPal {
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    display: flexbox;
    height: 35px;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid #253B80;
}
.BtnPymentPayPal:focus{
    outline: none;
}
.BtnPymentPayPal svg {
    color: #253B80;
}

.BtnPymentPayPal .Pay {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #253B80;
    margin-left: 5px;
}

.BtnPymentPayPal .Pal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #169BD7;
}

.BtnPymentPay {
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    display: flexbox;
    height: 35px;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #169BD7;
    color: white;
    /* border: 1px solid #253B80; */
}


.BtnPymentPay:focus{
    outline: none;
}
.PaymetSec {
    font-size: .8rem;
    color: rgb(169, 169, 169);
    margin-bottom: 5px;
}

.PaymentItem {
    width: 80%;
}

.PaymentItem label {
    font-weight: 400;
    font-size: .8rem;
    color: rgb(0, 0, 0);
}
.PaymentItem input::placeholder{
    font-size: .8rem;
    color: #656565;
}
.PaymentItem input {
    font-size: .8rem;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #b4b4b4;
    color: #656565;
}
.PaymentItem input:focus{
    outline: none;
}

.PAyIconInput {
    display: flex;
    width: 100%;

}

.PAyIconInput span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #b4b4b4;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color:#b4b4b4;
}

.PAyIconInput input {
    font-size: .8rem;
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #b4b4b4;
    border-left: none;
    border-top-right-radius: 25px;
    color: #656565;
    border-bottom-right-radius: 25px;

}

.PaymentItem2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.PaymentItem2 label{
    font-size: .8rem;
}
.DateItem input::placeholder{
    color: #656565;
    font-size: .8rem;
}
.DateItem input {
    height: 35px;
    outline: none;
    border: 1px solid #b4b4b4;
    border-radius: 20px;
    width: 70px;
    color: #656565;
    text-align: center;
    font-size: .8rem;
}

#DateMM {
    margin-right: 5px;
}

#DateYY {
    margin-left: 5px;
}

.CVV {
    display: flex;
}

.CVV input {
    outline: none;
    color: #656565;
    border: 1px solid #b4b4b4;
    width: 100px;
    border-right: 0px;
    padding: 0px 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0px 10px;
    font-size: .8rem;
}
.CVV input::placeholder{
    color: #656565;
    padding: 0px 10px;
    font-size: .8rem;
}

.CVV span {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #b4b4b4;
    border-left: none;
    color: #b4b4b4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.PaymentData {
    margin: 5px 0px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}
.PaymentData span{
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PaymentData span svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    margin: 0px;
}
.PayB{
    font-weight: bold;
}
.Payhr{
    margin: 5px 0px;
    width: 80%;
    height: 1px;
    background: #b4b4b4;
}
@media screen and (max-width:700px) {
    .CartPage {
        margin-top: 50px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .CartPageHeading {
        width: 85%;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .CartWindow {
        /* margin-top: 50px; */
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* background-color: #169BD7; */
    }
    .CartDetails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        width: 100%;
        /* height: 50px; */
        /* border: 1px solid black; */
    
    }

    .CartList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 50px; */
    /* border: 1px solid black; */
    }
    .CartItem {
        position: relative;
        margin: 10px 0px;
        padding-bottom: 5px;
        width: 90%;
        /* height: 200px; */
        /* border: 1px solid rgb(105, 105, 105); */
        /* border-radius: 20px; */
        display: flex;
        flex-direction: column;
        /* padding: 10px 0px; */
        background-color: rgb(237, 237, 237);
    }
    .CartItemLeft {

        display: flex;
        align-items: center;
        height: auto;
        margin-right: 0px;
    }
    .CartImg {
        width: 100%;
        margin: 0px 0px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        /* height: auto; */
    
    }
    .CartItemRight {
        padding: 5px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .CartItemRight h1 {
        cursor: pointer;
        user-select: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-family: 'Dancing Script', cursive;
        font-family: 'Playfair Display', serif;
    }
    .CartDisc {
        margin: 2px;
        font-size: .8rem;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .PaymentPage {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto
    }
    .PaymentWindow {
        /* background-color: aliceblue; */
        padding: 5px;
        border-radius: 10px;
        width: 90%;
        height: auto;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }
    .PaymetLeftImg {
        width: 40%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        /* border: 1px solid black; */
        border-radius: 10px;
        display: none;
    }
    .PaymentForm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        width: 100%;
        /* height: 100%; */
    }
    .BtnPymentApple {
        margin-top: 10px;
        cursor: pointer;
    
        outline: none;
        border: none;
        border-radius: 25px;
        display: flexbox;
        height: 30px;
        width: 80%;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
    }
    .BtnPymentApple svg {
        width: 15px;
        height: 15px;
        color: white;
        font-size: .9rem;
    }
    .PaymetSec {
        font-size: .7rem;
        color: rgb(169, 169, 169);
        margin-bottom: 5px;
    }
    .BtnPymentPayPal {
        margin: 10px 0px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 25px;
        display: flexbox;
        height: 30px;
        width: 80%;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        border: 1px solid #253B80;
    }
    .BtnPymentPayPal:focus{
        outline: none;
    }
    .BtnPymentPayPal svg {
        width: 15px;
        height: 15px;
        color: #253B80;
        font-size: .9rem;
    }
    
.BtnPymentPay {
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    display: flexbox;
    height: 30px;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #169BD7;
    color: white;
    /* border: 1px solid #253B80; */
}
.PaymentItem label {
    font-weight: 400;
    font-size: .7rem;
    color: rgb(0, 0, 0);
}
.PaymentItem input::placeholder{
    font-size: .7rem;
    color: #656565;
}

.PaymentItem input {
    font-size: .7rem;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #b4b4b4;
    color: #656565;
}
.PaymentItem input:focus{
    outline: none;
}

.PAyIconInput {
    display: flex;
    width: 100%;

}

.PAyIconInput span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #b4b4b4;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color:#b4b4b4;
}

.PAyIconInput input {
    font-size: .8rem;
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #b4b4b4;
    border-left: none;
    border-top-right-radius: 25px;
    color: #656565;
    border-bottom-right-radius: 25px;

}

.DateItem input {
    height: 30px;
    outline: none;
    border: 1px solid #b4b4b4;
    border-radius: 20px;
    width: 70px;
    color: #656565;
    text-align: center;
    font-size: .7rem;
}
.CVV input {
    outline: none;
    color: #656565;
    border: 1px solid #b4b4b4;
    width: 50px;
    border-right: 0px;
    padding: 0px 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0px 10px;
    font-size: .7rem;
}
}